.progresses {
    display: flex;
    align-items: center;
}

.line {
    width: 120px;
    height: 6px;
    background: var(--bs-body-color);
}

.line-complete{
    background: var(--bs-success);
}

.steps {
    display: flex;
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
    border: 1px solid; 
    border-color: var(--bs-body-color);
    font-size: 14px;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.steps-complete {
    background-color: var(--bs-success);
    color: var(--bs-body-color);
    border-color: var(--bs-success);
}