{% extends "base.html" %}
{% block title %}Lista BillOfMaterials{% endblock %}
{% block content %}

<h2 class="text-center my-3">Lista BillOfMaterials</h2>
<a href="{{ url_for('add_BillOfMaterials') }}" class="btn btn-primary mb-3">Aggiungi nuovo</a>

<table id="BillOfMaterialsTable" class="table table-striped">
    <thead>
        <tr>
            <th>Codice</th>
            <th>Nome</th>
            <th>Quantità</th>
            <th>Azioni</th>
        </tr>
    </thead>
    <tbody>
        {% for row in data %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>
                <a href="{{ url_for('delete_BillOfMaterials', ProductCode=row[0]) }}" class="btn btn-danger btn-sm">Elimina</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% include 'datatable_setup.html' %}

{% endblock %}
