{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    <h1 class="text-center">Benvenuto in LiteManagement</h1>
    <p class="text-muted text-center">Gestisci il magazzino e le commesse facilmente.</p>
    <ul>
        <li><a href="{{ url_for('view_bom') }}">BOM</a></li>
        <li><a href="{{ url_for('view_commission') }}">Commission</a></li>
        <li><a href="{{ url_for('view_item') }}">Item</a></li>
        <li><a href="{{ url_for('view_stock') }}">Stock</a></li>
    </ul>
{% endblock %}