{% extends "base.html" %}
{% block title %}Lista Magazzino{% endblock %}
{% block content %}

<h2 class="text-center my-3">Lista Magazzino</h2>

<table id="InventoryTable" class="table table-striped">
    <thead>
        <tr>
            <th>Codice</th>
            <th>Totali</th>
            <th>Bloccate</th>
            <th>Disponibili</th>
            <th>Azioni</th>
        </tr>
    </thead>
    <tbody>
        {% for row in data %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[1]-row[2] }}</td>
            <td>
                <a href="{{ url_for('increase_Inventory', ProductCode=row[0]) }}" class="btn btn-success btn-sm">+</a>
                <a href="{{ url_for('decrease_Inventory', ProductCode=row[0]) }}" class="btn btn-danger btn-sm">-</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% include 'datatable_setup.html' %}

{% endblock %}
