{% extends "base.html" %}
{% block title %}Add material to bill{% endblock %}
{% block content %}
    <div class="container mt-4">
        <h2 class="text-center my-3">Add Bill Of Materials</h2>
        <form method="post" class="mt-3">
            <div class="mb-3">
                <label for="ProductCode" class="form-label">Product Code:</label>
                <select id="ProductCode" name="ProductCode" class="form-select" required>
                    <option value="" disabled selected>Select a product code</option>
                    {% for row in product_codes %}
                        <option value="{{ row['ProductCode'] }}">{{ row['ProductCode'] }}</option>
                    {% endfor %}
                </select>
            </div>
            
            <div class="mb-3">
                <label for="ChildProductCode" class="form-label">Component Code:</label>
                <select id="ChildProductCode" name="ChildProductCode" class="form-select" required>
                    <option value="" disabled selected>Select a component code</option>
                    {% for row in product_codes %}
                        <option value="{{ row['ProductCode'] }}">{{ row['ProductCode'] }}</option>
                    {% endfor %}
                </select>
            </div>
            
            <div class="mb-3">
                <label for="Quantity" class="form-label">Quantity:</label>
                <input type="number" id="Quantity" name="Quantity" min="1" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
            <a href="{{ url_for('bom.view_BillOfMaterials') }}" class="btn btn-secondary">Go Back</a>
        </form>
    </div>

    <script>
        $(document).ready(function() {
            $('#ProductCode, #ChildProductCode').select2({
                placeholder: "Select an option",
                allowClear: true,
                theme: "bootstrap-5"
            });
        });
    </script>    
{% endblock %}