{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<img src="{{ url_for('static', filename = 'logo.png') }}" class="rounded mx-auto d-block" width="200">
<div class="container-fluid mb-4">
    <h1 class="text-center">Welcome to RaspERP</h1>
    <p class="text-muted text-center">Manage your warehouse and orders easily.</p>
</div>
<div class="container py-5">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
            <div class="card h-100 text-center shadow">
                <div class="card-body">
                    <div class="display-4 text-primary mb-2">
                        <i class="mdi mdi-package-variant-closed"></i>
                    </div>
                    <h2 class="card-title mb-3">{{ productionOrder }}</h2>
                    <p class="card-text text-muted">Production Order</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'datatable_setup.html' %}

{% endblock %}