{% extends "base.html" %}
{% block title %}Products{% endblock %}
{% block content %}

<h2 class="text-center my-3">Products</h2>
<a href="{{ url_for('product.add_Product') }}" class="btn btn-primary mb-3">Add new</a>

<table id="itemTable" class="table table-striped">
    <thead>
        <tr>
            <th>ProductCode</th>
            <th>Category</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for row in data %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>
                <a href="{{ url_for('product.delete_Product', code=row[0]) }}" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% include 'datatable_setup.html' %}

{% endblock %}
