{% extends "base.html" %}
{% block title %}Products{% endblock %}
{% block content %}

<h2 class="text-center my-3">Products</h2>
<a href="{{ url_for('product.add_Product') }}" class="btn btn-primary mb-3">Add new</a>

<table id="itemTable" class="table table-striped">
    <thead>
        <tr>
            <th>Image</th>
            <th>Product</th>
            <th>Category</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for row in data %}
        <tr>
            <td><img class="rounded" src="{{ row['image'] }}" width="128" /></td>
            <td>{{ row["ProductCode"] }}</td>
            <td>{{ row["Category"] }}</td>
            <td>
                <a href="{{ url_for('product.view_Product_detail', code=row['ProductCode']) }}" class="btn btn-info btn-sm">View</a>
                <a href="{{ url_for('product.edit_Product', code=row['ProductCode']) }}" class="btn btn-warning btn-sm">Edit</a>
                <a href="{{ url_for('product.delete_Product', code=row['ProductCode']) }}" class="btn btn-danger btn-sm">Delete</a>                
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% include 'datatable_setup.html' %}

{% endblock %}